@import '../../shared/styles/animations';
@import '../../shared/styles/colors';

.person-profile-container {
  display: flex;
  align-content: center;
  height: 100vh;
  flex-direction: column;
  font-size: 6vw;
  z-index: 1;
  .center {
    align-self: center;
  }

  .typewriter {
    display: block;
    letter-spacing: 0.3rem;
    align-self: center;
  }

  .scroll-down {
    position: fixed;
    bottom: 20px;
  }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .person-profile-container {
    font-size: 9vw;

    .typewriter {
      padding-top: 12rem;
      max-width: 100vw;
    }
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .person-profile-container {
    font-size: 11vw;

    .typewriter {
      padding-top: 9rem;
    }
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .person-profile-container {
    font-size: 6vw;

    .typewriter {
      padding-top: 6rem;
    }
  }

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .person-profile-container {
    font-size: 6vw;

    .typewriter {
      padding-top: 6rem;
    }
  }

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}
