<section id="about" class="section">
  <div class="card card--spacing center">
    <div class="card-title">
      <h3>About</h3>
    </div>
    <div class="card-body">
      <div class="font-settings">
        <p>
          Loukas is an ambitious and concerned undergraduate student with discipline and accountability involved into open-source projects, Volunteering activities and a lot of code. His motto is "Gain through Experiencing" and he applies that in his every-day life and work. His personal development comes through perseverance and avoidance of superficial knowledge but true success in my team’s welfare. Using critical and organizing mind his concise and impeccable thoughts produce succinct and cater solutions. His next goal is to overcome the novice level and become an expert in his field of interest.
        </p>
      </div>
    </div>
  </div>
</section>
