<section id="about" class="section">
  <div class="card card--spacing center">
    <div class="card-title">
      <h3>About</h3>
    </div>
    <div class="card-body">
      <div class="font-settings">
        <p class="about-paragraph">
          {{about.description}}
        </p>
        <p class="about-paragraph projects">
          <strong>Note</strong>: Most of his projects are under <a href="https://en.wikipedia.org/wiki/Non-disclosure_agreement" target="_blank">NDA</a> so might not be visible on Github.
        </p>
      </div>
    </div>
  </div>
</section>
