@import '../../shared/styles/colors';

.card {
  border: none;
}

.card-body {
  font-size: 20px;
  line-height: 1.8;
  font-weight: 300;
  margin: 0 auto;
  text-align: center;
  background: $card-bgd;
  color: $card-text;
}

.font-settings {
  font-family: 'Frank Ruhl Libre', serif;
}

p::selection {
  background: $card-text;
  color: white;
}

.about-paragraph {
