<!-- source: https://www.w3schools.com/howto/howto_css_timeline.asp -->
<section id="experience">
    <div class="card card--spacing card--no-border center">
      <div class="card-title">
        <h3>Experience</h3>
      </div>
      <div class="card-body">
          <div class="timeline">
                <app-timeline-card [duration]="'May 2018 - Now'" [title]="'noris M.I.K.E'" [subtitle]="'Web Front End Developer'" [side]="'left'"></app-timeline-card>
                <app-timeline-card [duration]="'April 2017 - May 2017'" [title]="'More than Themes'" [subtitle]="'Software Engineer'" [side]="'right'"></app-timeline-card>
                <app-timeline-card [duration]="'Feb 2017 - Sep 2017'" [title]="'IEEE'" [subtitle]="'Web Application Developer'" [side]="'left'"></app-timeline-card>
                <app-timeline-card [duration]="'Feb 2016 - Feb 2016'" [title]="'IEEE'" [subtitle]="'Web Application Developer'" [side]="'right'"></app-timeline-card>
                <app-timeline-card [duration]="'Oct 2012 - Now'" [title]="'Democritus University of Thrace (DUTh)'" [subtitle]="'BSc. Electrical Engineering & Computer Science'" [side]="'left'"></app-timeline-card>
          </div>
      </div>
    </div>
</section>

