<app-header></app-header>

<section id="profile" class="section">
  <div class="card card--spacing center">
    <div class="card-body">
      <div class="row">
        <div class="col profile-image"></div>
        <div class="col profile-info">
          <h1>John Doe</h1>
          <h2 class="subtitle">Web Developer & Javascript Enthusiast</h2>
          <ul class="profile-list">
            <li class="clearfix"><strong class="title">Address</strong><span class="cont">Thessaloniki, Greece</span></li>
            <li class="clearfix"><strong class="title">E-Mail</strong><span class="cont">loukas.kotas@gmail.com</span></li>
            <li class="clearfix"><strong class="title">Phone</strong><span class="cont">+30 6945218288</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about" class="section">
  <div class="card card--spacing">
    <div class="card-body">
      <h3>About</h3>
    </div>
  </div>
</section>
<section id="skills">
  <div class="card card--spacing">
    <div class="card-body">
      <h3>Skills</h3>
    </div>
  </div>
</section>
<section id="experience">
  <div class="card card--spacing">
    <div class="card-body">
      <h3>Experience</h3>
    </div>
  </div>
</section>
