<app-header></app-header>
<app-person-profile></app-person-profile>

<section id="about" class="section">
  <div class="card card--spacing">
    <div class="card-body">
      <h3>About</h3>
    </div>
  </div>
</section>
<section id="skills">
  <div class="card card--spacing">
    <div class="card-body">
      <h3>Skills</h3>
    </div>
  </div>
</section>
<section id="experience">
  <div class="card card--spacing">
    <div class="card-body">
      <h3>Experience</h3>
    </div>
  </div>
</section>
