<section id="skills">
  <div class="card card--spacing center">
    <div class="card-title">
      <h3>Skills</h3>
    </div>
    <div id="skills-donuts" class="card-body">
      <div class="row" *ngIf="showSkills" >
        <div class="col">
          <app-donut-chart [id]="'angular'" [value]="100" [title]="'Angular'" [circleColor]="'#e74c3c'"></app-donut-chart>
        </div>
        <div class="col">
          <app-donut-chart [id]="'javascript'" [value]="90" [title]="'Javascript'" [circleColor]="'#f1c40f'"></app-donut-chart>
        </div>
        <div class="col">
          <app-donut-chart [id]="'css'" [value]="80" [title]="'CSS'" [circleColor]="'#15D974'"></app-donut-chart>
        </div>
        <div class="col">
          <app-donut-chart [id]="'photoshop'" [value]="70" [title]="'Photoshop'" [circleColor]="'#77c1e7'"></app-donut-chart>
        </div>
        <div class="col">
          <app-donut-chart [id]="'nodejs'" [value]="80" [title]="'Node.js'" [circleColor]="'#9b59b6'"></app-donut-chart>
        </div>
      </div>
    </div>

    <div class="skills-component">
      <div class="subheader">
        Testing Tools
      </div>
      <div class="skills-budges skills-budges--layout">
        <i class="devicon-jasmine-plain skill-icon"></i>
        <i class="devicon-protractor-plain skill-icon"></i>
      </div>
    </div>

    <div class="skills-component">
      <div class="subheader">
          Operating Systems
      </div>
      <div class="skills-budges skills-budges--layout">
          <i class="devicon-ubuntu-plain skill-icon"></i>
          <i class="devicon-apple-original skill-icon"></i>
      </div>
    </div>

    <div class="skills-component">
      <div class="subheader">
        Databases
      </div>
      <div class="skills-budges skills-budges--layout">
        <i class="devicon-postgresql-plain skill-icon"></i>
        <i class="devicon-mongodb-plain skill-icon"></i>
        <i class="devicon-mysql-plain skill-icon"></i>
      </div>
    </div>

    <div class="skills-component">
      <div class="subheader">
        Other Tools
      </div>
      <div class="skills-budges skills-budges--layout">
          <i class="devicon-bootstrap-plain skill-icon"></i>
          <i class="devicon-d3js-plain skill-icon"></i>
          <i class="devicon-webpack-plain skill-icon"></i>
          <i class="devicon-travis-plain skill-icon"></i>
          <i class="devicon-git-plain skill-icon"></i>
      </div>
    </div>

    <!-- <app-skill-budges [title]="'others'" [iconTitles]="['d3js', 'travis']"></app-skill-budges> -->

  </div>
</section>

