<section id="skills">
  <div class="card card--spacing center">
    <div class="card-title">
      <h3>Skills</h3>
    </div>
    <div id="skills-donuts" class="card-body">
      <div class="row" *ngIf="showSkills" >
        <div class="col">
          <app-donut-chart [id]="'angular'" [value]="95" [title]="'Angular'" [circleColor]="'#e74c3c'"></app-donut-chart>
        </div>
        <div class="col">
          <app-donut-chart [id]="'javascript'" [value]="90" [title]="'Javascript'" [circleColor]="'#f1c40f'"></app-donut-chart>
        </div>
        <div class="col">
          <app-donut-chart [id]="'css'" [value]="80" [title]="'CSS'" [circleColor]="'#15D974'"></app-donut-chart>
        </div>
        <div class="col">
          <app-donut-chart [id]="'photoshop'" [value]="70" [title]="'Photoshop'" [circleColor]="'#77c1e7'"></app-donut-chart>
        </div>
        <div class="col">
          <app-donut-chart [id]="'nodejs'" [value]="80" [title]="'Node.js'" [circleColor]="'#9b59b6'"></app-donut-chart>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-md-12">
        <app-skill-budges [title]="'Testing Tools'" [iconTitles]="['jasmine', 'protractor']"></app-skill-budges>
        <app-skill-budges [title]="'Other Tools'" [iconTitles]="['bootstrap', 'd3js', 'webpack', 'travis', 'git']"></app-skill-budges>
      </div>
      <div class="col col-md-12 mr-3">
        <app-skill-budges [title]="'Databases'" [iconTitles]="['postgresql', 'mongodb', 'mysql']"></app-skill-budges>
        <app-skill-budges [title]="'Operating Systems'" [iconTitles]="['ubuntu', 'apple']"></app-skill-budges>
      </div>
    </div>


  </div>
</section>

