$extra-small-devices: 575.98px;
$small-devices: 768.98px;
$medium-devices: 991.98px;
$large-devices: 1199.98px;

@media only screen and (max-width: $extra-small-devices) {

}

@media only screen and (max-width: $small-devices) {

  .typewrite {
    font-size: 3.5rem !important;
  }

  .icon-bar {
    top: 65% !important;
  }

}

@media only screen and (max-width: $medium-devices) {

}

@media only screen and (max-width: $large-devices) {

}

