/* You can add global styles to this file, and also import other style files */

// colors
$bgd-color: lightgrey;

// layout
$header-height: 56px;


body {
  background: $bgd-color !important;
  margin-top: $header-height + 20px !important;
}


.clearfix {
  list-style: none;
}
