/* You can add global styles to this file, and also import other style files */
@use './shared/styles/colors' as *;
@use './shared/styles/media' as *;

// colors
// $bgd-color: lightgrey;

// layout
$header-height: 56px;


body {
  font-family: $fontFamily !important;
}

.card {
  background: $card-bgd !important;
}

.card-title {
  text-align: center;
  padding: 1rem 0 0 0;
  background: $card-title-bgd;
  color: $card-title-color;
}

.card--spacing {
  margin: 5px 5px;
}

.card--no-border {
  border: none !important;
}

.card--shadow {
  box-shadow: 2px 2px 8px #000;
}

.center {
  margin: 0 auto;
  max-width: 960px;
  padding: 50px 40px 15px 40px;
}

.cont {
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #9da0a7;
}


body {
  background: $bgd-color !important;
  margin-top: $header-height + 20px !important;
}

html {
  scroll-behavior: smooth;
}

.clearfix {
  list-style: none;
}
