@import '../../styles/colors';

.donut-title {
  // max-width: var(--max-width);
  max-width: var(--max-width);
  text-align: center;
}

// ===== SOLUTION 1 ======================================================================================================
.donut-chart{
  height: var(--height);
  width: var(--width);
  position:relative;
  &.active{
    circle{
      stroke-dasharray: 65 100;
    }
  }
  svg {
    width: 100%; height: 100%;
    transform: rotate(-90deg);
    background: #666;
    border-radius: 50%;
  }
  circle {
    fill: #666;
    stroke: var(--stroke);
    stroke-width: 32;
    stroke-dasharray: var(--stroke-dasharray);
    transition: stroke-dasharray 0.5s ease;
  }
}
.donut-center{
  // background-color: var(--background-color);
  background-color: $donut-center-bgd;
  border-radius:50%;
  position:absolute;
  height:80%;
  width:80%;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.donut-center::after {
  display: inline-block;
  width: 100%;
  font-size: var(--center-text-size);
  // color: black;
  color: $donut-center-color;
  text-align: center;
  line-height: var(--percentage-size);
  content: var(--skill-strength);
}
.ui{
  margin:20px 0;
  text-align:center;
  width:200px;
  .animate-button{
    text-decoration:none;
    font-family:'Arial', 'Helvettica', san-serif;
    font-size:12px;
    color:#fff;
    background:#666;
    padding:6px 18px;
    border-radius:4px;
      &:hover{
        background:#333;
        }
  }
}


// ===== SOLUTION 2 =============================================================

.card {
  float: left;
  background: $bgd-color;
  padding: 20px;
  margin: 0 20px 0 0;
  border: none;
}


// Donut Chart Mixin
.donut-chart {
  position: relative;
  border-radius: 50%;
  overflow: hidden;

  .slice {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .chart-center {
    position: absolute;
    border-radius: 50%;

    span {
      display: block;
      text-align: center;
    }
  }
}

@mixin donut-chart($name, $perc, $size, $width, $base, $center, $color, $textColor: $color, $textSize: 40px) {

  $color2: $color;
  $base2: $base;
	$deg: ($perc/100*360)+deg;
	$deg1: 90deg;
	$deg2: $deg;

	// If percentage is less than 50%
	@if $perc < 50 {
		$base: $color;
    $color: $base2;
    $color2: $base2;
    $deg1: ($perc/100*360+90)+deg;
		$deg2: 0deg;
	}

  .donut-chart {
    &#{$name} {
      width: $size;
      height: $size;
      background: $base;

      .slice {
        &.one {
          clip: rect(0 $size $size/2 0);
          -webkit-transform: rotate($deg1);
          transform: rotate($deg1);
          background: $color;
        }

        &.two {
          clip: rect(0 $size/2 $size 0);
          -webkit-transform: rotate($deg2);
          transform: rotate($deg2);
          background: $color2;
        }
      }

      .chart-center {
        top: $width;
        left: $width;
        width: $size - ($width * 2);
        height: $size - ($width * 2);
        background: $center;

        span {
          font-size: $textSize;
          line-height: $size - ($width * 2);
          color: $textColor;

          &:after {
          content: '#{$perc}%';
          }
        }
      }
    }
  }
} // mixin

@include donut-chart('.chart4', 45, 240px, 15px, #e1e1e1, #fff, #f26a4a, #f26a4a, 60px);

// ========================================================================================================================================
